$heavyColor: #352C59;
$lightColor: #BFB48F;
$mainColor: #A04521;
$darkFontColor: #252627;
$lightFontColor: #F2EFE9;

$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$deepShadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$deepTextShadow:  
0 -1px 0 #fff, 
0 1px 0 #2e2e2e, 
0 2px 0 #2c2c2c, 
0 3px 0 #2a2a2a, 
0 4px 0 #282828, 
0 5px 0 #262626, 
0 6px 0 #242424, 
0 7px 0 #222, 
0 8px 0 #202020, 
0 9px 0 #1e1e1e, 
0 10px 0 #1c1c1c, 
0 11px 0 #1a1a1a, 
0 12px 0 #181818, 
0 13px 0 #161616, 
0 14px 0 #141414, 
0 15px 0 #121212, 
0 22px 30px rgba(0, 0, 0, 0.9);


$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
