@import "../../theme";

nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  width: 17em;
  background: $heavyColor;
  z-index: 100;
  box-shadow: $deepShadow;
  padding: 10em 0 0 3em;
  transform-origin: left;
  div {
    transition: background-color 600ms $easeOutCubic;
    &:hover {
      cursor: pointer;
      background: $lightColor;
      a {
        color: $heavyColor;
      }
    }
  }
  div > a {
    text-decoration: none;
    color: $lightColor;
    font-size: 32px;
  }
}

